<a href="https://colab.research.google.com/github/Zyscythe/PRATIKUM-BASIS-DATA/blob/main/Pertemuan1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ“š KONSEP DASAR ENTITY RELATIONSHIP DIAGRAM (ERD)
Komponen Utama ERD:
1. ENTITAS (ENTITY)
Definisi: Objek nyata atau konsep yang dapat dibedakan dalam dunia nyata

Simbol: Persegi panjang

Jenis:

Strong Entity: Entitas yang dapat berdiri sendiri

Weak Entity: Entitas yang keberadaannya bergantung pada entitas lain

2. ATRIBUT (ATTRIBUTE)
Definisi: Karakteristik atau properti dari entitas

Simbol: Oval/lingkaran

Jenis:

Simple Attribute: Atribut tunggal dan atomic

Composite Attribute: Atribut yang dapat dibagi menjadi sub-atribut

Multivalue Attribute: Atribut yang memiliki banyak nilai

Derived Attribute: Atribut yang nilainya dapat dihitung dari atribut lain

3. RELASI (RELATIONSHIP)
Definisi: Hubungan antara dua atau lebih entitas

Simbol: Belah ketupat

Kardinalitas:

One-to-One (1:1)

One-to-Many (1:N)

Many-to-Many (N:N)

ðŸŽ¯ ATURAN KONVERSI DETAIL
1. STRONG ENTITY (ENTITAS KUAT)
Aturan Konversi:
Setiap strong entity menjadi satu tabel terpisah

Semua simple attribute menjadi kolom dalam tabel

Primary key dari entity menjadi primary key tabel

Contoh Implementasi:
ERD:

text
[Karyawan]
â”œâ”€â”€ nip (PK)
â”œâ”€â”€ nama
â”œâ”€â”€ tgl_lahir
â”œâ”€â”€ alamat (composite)
â””â”€â”€ jabatan
Skema Relasi:

sql
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50) NOT NULL,
    tgl_lahir DATE,
    jabatan VARCHAR(30)
);
Diagram Relationship:

text
KARYAWAN
+---------+-------------+------------+----------+
| nip(PK) | nama        | tgl_lahir  | jabatan  |
+---------+-------------+------------+----------+
2. COMPOSITE ATTRIBUTE
Aturan Konversi:
Composite attribute tidak langsung menjadi kolom

Setiap sub-attribute menjadi kolom terpisah

Nama kolom harus deskriptif dan jelas

Contoh Implementasi:
ERD:

text
[Karyawan]
â”œâ”€â”€ nip (PK)
â”œâ”€â”€ nama
â””â”€â”€ alamat (composite)
   â”œâ”€â”€ jalan
   â”œâ”€â”€ kota
   â”œâ”€â”€ provinsi
   â””â”€â”€ kode_pos
Skema Relasi:

sql
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50) NOT NULL,
    jalan VARCHAR(100),
    kota VARCHAR(50),
    provinsi VARCHAR(50),
    kode_pos CHAR(5)
);
Penjelasan:

Atribut composite alamat dipecah menjadi kolom terpisah

Tidak ada kolom alamat dalam tabel

3. MULTIVALUE ATTRIBUTE
Aturan Konversi:
Multivalue attribute menjadi tabel terpisah

Tabel baru memiliki foreign key ke tabel utama

Primary key biasanya kombinasi foreign key + atribut

Contoh Implementasi:
ERD:

text
[Karyawan]
â”œâ”€â”€ nip (PK)
â”œâ”€â”€ nama
â””â”€â”€ telepon (multivalue)
Skema Relasi:

sql
-- Tabel utama
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50) NOT NULL
);

-- Tabel untuk multivalue attribute
CREATE TABLE Telepon_Karyawan (
    nip CHAR(10),
    no_telepon VARCHAR(15),
    PRIMARY KEY (nip, no_telepon),
    FOREIGN KEY (nip) REFERENCES Karyawan(nip)
);
Diagram Relationship:

text
KARYAWAN                    TELEPON_KARYAWAN
+---------+-------------+   +---------+-------------+
| nip(PK) | nama        |   | nip(PK,FK) | no_telepon(PK) |
+---------+-------------+   +---------+-------------+
4. WEAK ENTITY (ENTITAS LEMAH)
Aturan Konversi:
Weak entity menjadi tabel terpisah

Primary key berupa partial key + foreign key ke strong entity

Tergantung secara eksistensial pada strong entity

Contoh Implementasi:
ERD:

text
[Karyawan]â”â”â”â”â”â”â”â”[memiliki]â”â”â”â”â”â”â”â”[Tanggungan]
   nip(PK)           1:N           nama_tgg(PPK)
   nama                           hubungan
Skema Relasi:

sql
-- Strong entity
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50) NOT NULL
);

-- Weak entity
CREATE TABLE Tanggungan (
    nip CHAR(10),
    nama_tanggungan VARCHAR(50),
    hubungan ENUM('anak', 'istri', 'suami'),
    PRIMARY KEY (nip, nama_tanggungan),
    FOREIGN KEY (nip) REFERENCES Karyawan(nip)
);
5. RELASI ONE-TO-ONE (1:1)
Aturan Konversi:
Dua strong entity menjadi dua tabel

Foreign key dapat ditempatkan di salah satu tabel

Pilih tabel yang berpartisipasi penuh (total participation)

Contoh Implementasi:
ERD:

text
[Kegiatan]â”â”â”â”â”â”â”â”[memiliki]â”â”â”â”â”â”â”â”[Perjalanan_Dinas]
 kd_keg(PK)          1:1           kd_pd(PK)
 nama_keg                         tujuan
Alternatif 1 - FK di Perjalanan_Dinas:

sql
CREATE TABLE Kegiatan (
    kd_keg CHAR(5) PRIMARY KEY,
    nama_keg VARCHAR(100)
);

CREATE TABLE Perjalanan_Dinas (
    kd_pd CHAR(5) PRIMARY KEY,
    tujuan VARCHAR(100),
    kd_keg CHAR(5) UNIQUE,
    FOREIGN KEY (kd_keg) REFERENCES Kegiatan(kd_keg)
);
Alternatif 2 - FK di Kegiatan:

sql
CREATE TABLE Perjalanan_Dinas (
    kd_pd CHAR(5) PRIMARY KEY,
    tujuan VARCHAR(100)
);

CREATE TABLE Kegiatan (
    kd_keg CHAR(5) PRIMARY KEY,
    nama_keg VARCHAR(100),
    kd_pd CHAR(5) UNIQUE,
    FOREIGN KEY (kd_pd) REFERENCES Perjalanan_Dinas(kd_pd)
);
6. RELASI ONE-TO-MANY (1:N)
Aturan Konversi:
Dua strong entity menjadi dua tabel

Foreign key ditempatkan di sisi "many"

Primary key dari sisi "one" menjadi foreign key di sisi "many"

Contoh Implementasi:
ERD:

text
[Karyawan]â”â”â”â”â”â”â”â”[meminjam]â”â”â”â”â”â”â”â”[Peminjaman]
   nip(PK)           1:N           kd_pinjam(PK)
   nama                           tgl_pinjam
Skema Relasi:

sql
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50)
);

CREATE TABLE Peminjaman (
    kd_pinjam CHAR(6) PRIMARY KEY,
    tgl_pinjam DATE,
    nip CHAR(10),
    FOREIGN KEY (nip) REFERENCES Karyawan(nip)
);
7. RELASI MANY-TO-MANY (N:N)
Aturan Konversi:
Dua strong entity menjadi dua tabel

Relasi many-to-many menjadi tabel ketiga (junction table)

Tabel ketiga berisi foreign key ke kedua tabel

Dapat ditambahkan primary key surrogate jika diperlukan

Contoh Implementasi:
ERD:

text
[Buku]â”â”â”â”â”â”â”â”[meminjam]â”â”â”â”â”â”â”â”[Peminjaman]
kd_buku(PK)        N:M         kd_pinjam(PK)
nama_buku                      tgl_pinjam
Skema Relasi:

sql
CREATE TABLE Buku (
    kd_buku CHAR(6) PRIMARY KEY,
    nama_buku VARCHAR(100)
);

CREATE TABLE Peminjaman (
    kd_pinjam CHAR(6) PRIMARY KEY,
    tgl_pinjam DATE
);

-- Junction table untuk relasi N:M
CREATE TABLE Detail_Peminjaman (
    kd_pinjam CHAR(6),
    kd_buku CHAR(6),
    lama_pinjam INT,
    PRIMARY KEY (kd_pinjam, kd_buku),
    FOREIGN KEY (kd_pinjam) REFERENCES Peminjaman(kd_pinjam),
    FOREIGN KEY (kd_buku) REFERENCES Buku(kd_buku)
);

-- Alternatif dengan surrogate key
CREATE TABLE Detail_Peminjaman (
    id_det_pin INT PRIMARY KEY AUTO_INCREMENT,
    kd_pinjam CHAR(6),
    kd_buku CHAR(6),
    lama_pinjam INT,
    FOREIGN KEY (kd_pinjam) REFERENCES Peminjaman(kd_pinjam),
    FOREIGN KEY (kd_buku) REFERENCES Buku(kd_buku)
);
8. UNARY RELATIONSHIP (RECURSIVE)
Aturan Konversi:
Satu entity menjadi satu tabel

Tambahkan foreign key yang merujuk ke primary key tabel yang sama

Beri nama yang jelas untuk foreign key

Contoh Implementasi:
ERD:

text
[Akun]
â”œâ”€â”€ kd_akun (PK)
â”œâ”€â”€ nama_akun
â””â”€â”€ memiliki_header (1:N)
Skema Relasi:

sql
CREATE TABLE Akun (
    kd_akun CHAR(8) PRIMARY KEY,
    nama_akun VARCHAR(100),
    kd_header CHAR(8),
    FOREIGN KEY (kd_header) REFERENCES Akun(kd_akun)
);
Contoh Data:

text
AKUN
+----------+------------------+------------+
| kd_akun  | nama_akun        | kd_header  |
+----------+------------------+------------+
| 10000000 | AKTIVA           | NULL       |
| 11000000 | AKTIVA LANCAR    | 10000000   |
| 11100000 | KAS              | 11000000   |
| 11200000 | BANK             | 11000000   |
+----------+------------------+------------+
9. TERNARY RELATIONSHIP
Aturan Konversi:
Tiga strong entity menjadi tiga tabel

Ternary relationship menjadi tabel keempat

Tabel keempat berisi foreign key ke ketiga entity

Contoh Implementasi:
ERD:

text
[Karyawan]â”â”â”â”“
   nip(PK)   â”ƒ
   nama      â”ƒ
             â”£â”â”â”[Bekerja_di]â”â”â”â”“
[Cabang]â”â”â”â”â”â”«                   â”ƒ
 kd_cab(PK)  â”ƒ                   â”ƒ
 nama_cab    â”ƒ                   â”ƒ
             â”ƒ                   â”ƒ
[Posisi]â”â”â”â”â”â”›                   â”ƒ
 kd_pos(PK)                      â”ƒ
 nama_pos                        â”ƒ
                               tgl_mulai
Skema Relasi:

sql
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50)
);

CREATE TABLE Cabang (
    kd_cab CHAR(4) PRIMARY KEY,
    nama_cab VARCHAR(100)
);

CREATE TABLE Posisi (
    kd_pos CHAR(4) PRIMARY KEY,
    nama_pos VARCHAR(100)
);

-- Tabel untuk ternary relationship
CREATE TABLE History_Pekerjaan (
    nip CHAR(10),
    kd_cab CHAR(4),
    kd_pos CHAR(4),
    tgl_mulai DATE,
    PRIMARY KEY (nip, kd_cab, kd_pos, tgl_mulai),
    FOREIGN KEY (nip) REFERENCES Karyawan(nip),
    FOREIGN KEY (kd_cab) REFERENCES Cabang(kd_cab),
    FOREIGN KEY (kd_pos) REFERENCES Posisi(kd_pos)
);
10. GENERALISASI & SPESIALISASI (GENSPEC)
Aturan Konversi:
Metode 1 - Tabel Terpisah:

Superclass menjadi satu tabel

Setiap subclass menjadi tabel terpisah

Primary key subclass sama dengan superclass

Metode 2 - Tabel Tunggal:

Semua atribut superclass dan subclass dalam satu tabel

Tambahkan kolom discriminant untuk membedakan subclass

Contoh Implementasi:
ERD:

text
[Buku]â”â”â”â”â”â”â”â”[ISA]â”â”â”â”â”â”â”â”â”“
 kd_buku(PK)               â”ƒ
 nama_buku                 â”ƒ
                           â”£â”â”â”[Buku_Ilmiah]
                           â”ƒ      ISBN
                           â”ƒ      tahun
                           â”ƒ
                           â”£â”â”â”[Komik]
                           â”ƒ      penulis
                           â”ƒ      volume
                           â”ƒ
                           â”—â”â”â”[Jurnal_Ilmiah]
                                  volume
                                  issue
Metode 1 - Tabel Terpisah:

sql
-- Superclass
CREATE TABLE Buku (
    kd_buku CHAR(6) PRIMARY KEY,
    nama_buku VARCHAR(100)
);

-- Subclass 1
CREATE TABLE Buku_Ilmiah (
    kd_buku CHAR(6) PRIMARY KEY,
    ISBN VARCHAR(20),
    tahun YEAR,
    penulis VARCHAR(100),
    FOREIGN KEY (kd_buku) REFERENCES Buku(kd_buku)
);

-- Subclass 2
CREATE TABLE Komik (
    kd_buku CHAR(6) PRIMARY KEY,
    penulis VARCHAR(100),
    volume INT,
    FOREIGN KEY (kd_buku) REFERENCES Buku(kd_buku)
);

-- Subclass 3
CREATE TABLE Jurnal_Ilmiah (
    kd_buku CHAR(6) PRIMARY KEY,
    volume INT,
    issue INT,
    FOREIGN KEY (kd_buku) REFERENCES Buku(kd_buku)
);
Metode 2 - Tabel Tunggal:

sql
CREATE TABLE Buku (
    kd_buku CHAR(6) PRIMARY KEY,
    nama_buku VARCHAR(100),
    jenis ENUM('ilmiah', 'komik', 'jurnal'),
    -- Attribut Buku_Ilmiah
    ISBN VARCHAR(20),
    tahun YEAR,
    penulis_ilmiah VARCHAR(100),
    -- Attribut Komik
    penulis_komik VARCHAR(100),
    volume_komik INT,
    -- Attribut Jurnal_Ilmiah
    volume_jurnal INT,
    issue INT
);
11. AGREGASI
Aturan Konversi:
Entity yang berpartisipasi dalam agregasi menjadi tabel

Agregasi itu sendiri menjadi tabel terpisah

Foreign key ke semua entity yang berpartisipasi

Contoh Implementasi:
ERD:

text
[Peminjaman]â”â”â”â”“
               â”ƒ
[Buku]â”â”â”â”â”â”â”â”â”â”«â”â”â”[Detail_Peminjaman]â”â”â”â”“
               â”ƒ                         â”ƒ
[Pengembalian]â”â”›                         â”ƒ
                                         â”ƒ
[Detail_Pengembalian]â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”›
Skema Relasi:

sql
CREATE TABLE Peminjaman (
    kd_pinjam CHAR(6) PRIMARY KEY,
    tgl_pinjam DATE
);

CREATE TABLE Buku (
    kd_buku CHAR(6) PRIMARY KEY,
    nama_buku VARCHAR(100)
);

CREATE TABLE Detail_Peminjaman (
    id_det_pin INT PRIMARY KEY AUTO_INCREMENT,
    kd_pinjam CHAR(6),
    kd_buku CHAR(6),
    lama_pinjam INT,
    FOREIGN KEY (kd_pinjam) REFERENCES Peminjaman(kd_pinjam),
    FOREIGN KEY (kd_buku) REFERENCES Buku(kd_buku)
);

CREATE TABLE Pengembalian (
    kd_kembali CHAR(6) PRIMARY KEY,
    tgl_kembali DATE,
    total_denda DECIMAL(10,2)
);

CREATE TABLE Detail_Pengembalian (
    id_det_kembali INT PRIMARY KEY AUTO_INCREMENT,
    id_det_pin INT,
    kd_kembali CHAR(6),
    jml_hari_denda INT,
    FOREIGN KEY (id_det_pin) REFERENCES Detail_Peminjaman(id_det_pin),
    FOREIGN KEY (kd_kembali) REFERENCES Pengembalian(kd_kembali)
);
ðŸŽ¨ DIAGRAM RELATIONSHIP
Notasi Diagram Relationship:
text
NAMA_TABEL
+----------------------+
| kolom1 (PK)          |
| kolom2               |
| kolom3 (FK)          |
+----------------------+
Simbol:
(PK) = Primary Key

(FK) = Foreign Key

(PK,FK) = Composite Primary Key yang juga Foreign Key

â”â”â”â”â” = Relationship

1 = One

N = Many

Contoh Diagram Relationship Lengkap:
text
PELANGGAN                          NOTA_PENJUALAN
+----------------+                 +----------------+
| id_pelanggan(PK)|                 | id_nota(PK)    |
| nama           |â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“ | tgl_nota      |
| alamat         |               â”ƒ | total         |
| pekerjaan      |               â”ƒ | id_pelanggan(FK)|
| no_ktp         |               â”ƒ +----------------+
| no_telp        |               â”ƒ
+----------------+               â”ƒ
                                 â”ƒ
BARANG                           â”ƒ DETAIL_JUAL
+----------------+               â”ƒ +----------------+
| id_barang(PK)  |               â”ƒ | id_nota(PK,FK)  |
| nama_barang    |â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”»â”| id_barang(PK,FK)|
| harga          |                 | jumlah         |
| stok           |                 | harga          |
+----------------+                 +----------------+
ðŸ”§ BEST PRACTICES KONVERSI
Penamaan:
Gunakan nama yang konsisten dan deskriptif

Hindari reserved words SQL

Gunakan underscore untuk pemisah kata

Primary Key:
Pilih natural key jika memungkinkan

Gunakan surrogate key (auto increment) jika natural key kompleks

Hindari primary key yang bermakna bisnis

Foreign Key:
Beri nama yang mencerminkan relationship

Implementasikan ON DELETE dan ON UPDATE constraints

Gunakan indexing untuk foreign key

Data Types:
Pilih tipe data yang paling efisien

Pertimbangkan future growth

Gunakan constraints (NOT NULL, UNIQUE) sesuai kebutuhan

Contoh Implementasi Lengkap dengan Constraints:
sql
CREATE TABLE Karyawan (
    nip CHAR(10) PRIMARY KEY,
    nama VARCHAR(50) NOT NULL,
    tgl_lahir DATE,
    gender ENUM('L', 'P'),
    email VARCHAR(100) UNIQUE,
    tgl_masuk DATE DEFAULT CURRENT_DATE
);

CREATE TABLE Departemen (
    kd_dept CHAR(4) PRIMARY KEY,
    nama_dept VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE Karyawan_Departemen (
    nip CHAR(10),
    kd_dept CHAR(4),
    tgl_mulai DATE NOT NULL,
    tgl_selesai DATE,
    PRIMARY KEY (nip, kd_dept, tgl_mulai),
    FOREIGN KEY (nip) REFERENCES Karyawan(nip)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (kd_dept) REFERENCES Departemen(kd_dept)
        ON DELETE RESTRICT
        ON UPDATE CASCADE,
    CHECK (tgl_selesai IS NULL OR tgl_selesai > tgl_mulai)
);
ðŸ“Š SUMMARY TABEL KONVERSI
Komponen ERD	Hasil Konversi	Jumlah Tabel	Keterangan
Strong Entity	1 Tabel	1	Semua simple attribute jadi kolom
Weak Entity	1 Tabel + FK	2	FK ke strong entity
Composite Attribute	Multiple Kolom	1	Dipecah per sub-attribute
Multivalue Attribute	1 Tabel Terpisah	2	+ Tabel junction
1:1 Relationship	2 Tabel + 1 FK	2	FK di salah satu tabel
1:N Relationship	2 Tabel + 1 FK	2	FK di sisi N
N:N Relationship	3 Tabel + 2 FK	3	+ Tabel junction
Unary Relationship	1 Tabel + 1 FK	1	FK merujuk ke diri sendiri
Ternary Relationship	4 Tabel + 3 FK	4	+ Tabel relationship
Generalization	Multiple Tabel	1 + n subclass	Tergantung metode